#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        //zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_enter {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp RET>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_skctrl {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&sk LCTRL>;
        };

        combo_skalt {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&sk LALT>;
        };

        combo_skwin {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&sk LGUI>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <13 14 15>;
            bindings = <&kp TAB>;
        };

        combo_alt {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LALT>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWERTY";
            bindings = <
&trans  &kp Q  &kp W  &kp E     &kp R      &kp T    &kp Y  &kp U      &kp I       &kp O    &kp P     &trans
&trans  &kp A  &kp S  &kp D     &kp F      &kp G    &kp H  &kp J      &kp K       &kp L    &kp SQT   &trans
&trans  &kp Z  &kp X  &kp C     &kp V      &kp B    &kp N  &kp M      &kp COMMA   &kp DOT  &kp BSPC  &trans
                      &kp LGUI  &kp SPACE  &mo 1    &mo 2  &kp LSHFT  &lt 3 RALT
            >;
        };

        lower_layer {
            label = "NUMBER";
            bindings = <
&trans  &trans  &trans  &kp N7  &kp N8     &kp N9       &kp LPAR  &kp RPAR   &kp MINUS  &kp EQUAL  &kp BSLH  &trans
&trans  &trans  &trans  &kp N4  &kp N5     &kp N6       &kp LBKT  &kp RBKT   &kp UNDER  &kp PLUS   &kp SEMI  &trans
&trans  &trans  &kp N0  &kp N1  &kp N2     &kp N3       &kp LBRC  &kp RBRC   &trans     &trans     &kp FSLH  &trans
                        &trans  &kp SPACE  &kp LSHFT    &mo 3     &kp LSHFT  &kp RALT
            >;
        };

        raise_layer {
            label = "NAVIGT";
            bindings = <
&trans  &kp ESC  &kp GRAVE      &kp N7     &kp N8     &kp N9       &kp LC(C)     &kp LC(V)     &kp INS   &kp HOME   &kp PG_UP  &trans
&trans  &trans   &kp LS(LG(S))  &kp N4     &kp N5     &kp N6       &kp C_VOL_DN  &kp C_VOL_UP  &kp UP    &kp END    &kp PG_DN  &trans
&trans  &trans   &kp N0         &kp N1     &kp N2     &kp N3       &kp CAPS      &kp LEFT      &kp DOWN  &kp RIGHT  &kp DEL    &trans
                                &kp LCTRL  &kp SPACE  &kp LSHFT    &trans        &kp LSHFT     &kp RALT
            >;
        };

        mid_layer {
            label = "F-ROW";
            bindings = <
&trans  &trans  &kp F12  &kp F7  &kp F8  &kp F9    &trans     &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_CLR      &trans
&trans  &trans  &kp F11  &kp F4  &kp F5  &kp F6    &trans     &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &mwh MOVE_UP    &trans
&trans  &trans  &kp F10  &kp F1  &kp F2  &kp F3    &mkp MCLK  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mwh MOVE_DOWN  &trans
                         &trans  &trans  &trans    &trans     &kp LALT        &trans
            >;
        };
    };
};
